body {
    background-color: #f5f7fb;
}

.card {
    border: none;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}

.navbar-brand {
    letter-spacing: 1px;
}

h1,
h2 {
    font-weight: bold;
}