{% extends "base.html" %}


{% block title %}

Inicio - Gestión Web

{% endblock %}



{% block content %}


<div class="p-5 mb-4 bg-light rounded-4 shadow-sm">

    <h1 class="display-5 fw-bold">

        {{ mensaje }}

    </h1>

    <p class="lead">

        Sistema desarrollado con
        Python, Flask y Jinja2.

    </p>

</div>



<h2 class="mb-4">

    Resumen del sistema

</h2>



<div class="row g-4">


    {% for nombre, cantidad in resumen.items() %}


    <div class="col-md-3">

        <div class="card shadow-sm h-100">

            <div class="card-body text-center">

                <h5>

                    {{ nombre|upper }}

                </h5>


                <h2 class="text-primary">

                    {{ cantidad }}

                </h2>


                {% if cantidad > 0 %}

                    <span class="badge bg-success">

                        Registros disponibles

                    </span>

                {% else %}

                    <span class="badge bg-danger">

                        Sin registros

                    </span>

                {% endif %}

            </div>

        </div>

    </div>


    {% endfor %}


</div>


{% endblock %}