{% extends "base.html" %}


{% block title %}

Productos

{% endblock %}



{% block content %}

<h1 class="mb-4">

    Productos

</h1>


<div class="row g-4">


{% for producto in productos %}


    <div class="col-md-6 col-lg-3">

        <div class="card shadow-sm h-100">

            <div class="card-body">

                <h5 class="card-title">

                    {{ producto.nombre }}

                </h5>


                <p class="text-muted">

                    {{ producto.categoria }}

                </p>


                <h5>

                    ${{ "%.2f"|format(producto.precio) }}

                </h5>


                {% if producto.stock > 0 %}

                    <span class="badge bg-success">

                        Disponible

                    </span>

                    <p class="mt-2">

                        Stock:
                        {{ producto.stock }}

                    </p>

                {% else %}

                    <span class="badge bg-danger">

                        Agotado

                    </span>

                    <p class="mt-2">

                        Sin unidades disponibles

                    </p>

                {% endif %}


            </div>

        </div>

    </div>


{% endfor %}


</div>


{% endblock %}