{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h1>ESTA ES LA VERSION NUEVA</h1>

    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

            {% for producto in productos %}

            <tr>
                <td>{{ producto.id_producto }}</td>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>

               <td>

    <a
        href="{{ url_for('editar_producto', id_producto=producto.id_producto) }}"
        class="btn btn-warning btn-sm">
        Modificar
    </a>

    <form
        action="{{ url_for('eliminar_producto', id_producto=producto.id_producto) }}"
        method="POST"
        style="display:inline;"
        onsubmit="return confirm('¿Está seguro de eliminar este producto?');">

        <button type="submit" class="btn btn-danger btn-sm">
            Eliminar
        </button>

    </form>

</td>
            </tr>

            {% else %}

            <tr>
                <td colspan="5" class="text-center">
                    No existen productos registrados.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}