{% extends "base.html" %}


{% block title %}

Proveedores

{% endblock %}



{% block content %}

<h1 class="mb-4">

    Proveedores

</h1>


<div class="row g-4">


{% for proveedor in proveedores %}


<div class="col-md-6">


    <div class="card shadow-sm">

        <div class="card-body">

            <h5>

                {{ proveedor.empresa }}

            </h5>


            <p>

                <strong>Contacto:</strong>

                {{ proveedor.contacto }}

            </p>


            <p>

                <strong>Teléfono:</strong>

                {{ proveedor.telefono }}

            </p>

        </div>

    </div>


</div>


{% endfor %}


</div>


{% endblock %}